* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  background-color: rgb(0, 0, 33);
  color: white;
  font-family: "Poppins";
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: rgb(10, 10, 63);
}

nav ul {
  display: inline-block;
  justify-content: center;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0 23px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  color: rgb(63, 63, 182);
  font-size: 1.04rem;
}


#element {
  color: blueviolet;
}

main hr {
  border: 0;
  background-color: blueviolet;
  height: 1.5px;
  margin: 40px 84px;
  /* margin : 40px from top, bottom and 84px from left,right */
}

.left {
  font-size: 2rem;
}

.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 130px 0;
}
.firstSection > div {
  width: 30%;
}

.leftSection {
  font-size: 2rem;
}
.purple {
  color: blueviolet;
}

.leftSection .buttons{
  padding: 50px 0;
}
.leftSection .btn{
  padding: 12px;
  background: black;
  color: white;
  border: 2px solid white;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}

.rightSection img {
  width: 80%;
  margin: 15px 0;
}

/* ..................Second Section................. */

.gray {
  font-size: 0.85rem;
  color: grey;
}

.secondSection {
  max-width: 80vw;
  margin: auto;
  height: 80vh;
}
.secondSection h1{
  font-size: 1.9rem;
}

.secondSection .horizontal-Line {
  background: white;
  width: 77vw;
  height: 1px;
  /* width: ; */
  margin: 56px 0;
  display: flex;
}

.secondSection .vertical {
  background: white;
  width: 1px;
  height: 94px;
  margin: 0 150px;
}

.image-top {
  width: 23px;
  position: relative;
  top: -28px;
  left: -5px;
}

.vertical-title {
  font-size: 1.1rem;
  position: relative;
  top: 60px;
  left: -20px;
}
.vertical-desc {
  color: grey;
  font-size: 0.6rem;
  position: relative;
  top: 64px;
  left: -15px;
  width: 150px;
}
.vertical .year {
  font-size: 1.1rem;
  position: relative;
  top: 60px;
  left: -20px;
  width: 120px;
}

/* ...............Footer................ */

footer{
  background-color: rgb(19, 19, 35);
  /* height: 233px; */
}
.footer{
  display: flex;
  justify-content: space-evenly;
  padding: 23px 122px;
}

.footer ul{
  list-style: none;
}
.footer > div{
  width: 223px;
}

footer .text-center{
  font-size: 0.85rem;
  color: grey;
  text-align: center;
}

/* ---------------About---------------- */

#about{
  padding: 80px 0;
  color: #ababab;
}

.row{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.about-col-1{
  flex-basis: 35%;
}
.about-col-1 img{
  width: 100%;
  border-radius: 15px;
}

.about-col-2{
  flex-basis: 60%;

}
.about-col-2 h1{
  font-size: 60px;
  font-weight: 600;
  color: white;
}

.tab-titles{
  display: flex;
  margin: 20px 0 40px;
}

.tab-links{
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
 
}

.tab-links::after{
  content: '';
  width: 0;
  height: 3px;
  background: rgb(123, 123, 237);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after{
  width: 50%;
}

.tab-contents ul li{
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span{
  color: blueviolet;
  font-size: 14px;
}

.tab-contents{
  display: none;
}

.tab-contents.active-tab{
  display: block;
}


/* Contact */

.contact-left{
  flex-basis: 35%;
  margin-left:50px;
}
.contact-right{
  flex-basis: 60%;
}
.contact-left p{
  margin-top: 30px;
  /* margin-left: 30px; */
}


.contact-left p i{
  color: rgb(123, 123, 237);
  margin-right: 15px;
  font-size: 25px;
}

.social-icons{
  margin-top: 15px;
}

.social-icons a{
  text-decoration: none;
  font-size: 25px;
  margin-right: 15px;
  color: #abaaab;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover{
  color: blueviolet;
  transform: translateY(-5px);
}

.btn{
  display: inline-block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid blueviolet;
  padding: 14px 20px;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
  transition:background 0.5s;
}

.btn:hover{
  background: blueviolet;
}

.btn.btn2{
  display: inline-block;
}

.contact-right form{
  width: 90%;
}

form input, form textarea{
  width: 90%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}

.contact-right .btn{
  background-color: blueviolet;
}

form .btn2{
  padding: 14px 40px;
  margin-top: 20px;
  font-size: 18px;
  cursor: pointer;
}

.copyright{
  width: 100%;
  margin-top: 20px;
  text-align: center;
  padding: 25px 0;
  background: #262626;
  font-weight: 300;
}
.copyright i{
  color: blueviolet;
}


/*---------------- CSS for small Screens--------- */

nav .fa-solid{
  display: none;
} 

@media only screen and (max-width: 600px) {

  header .left{
    width: 40%;
    font-size: 18px;
    text-align: center;
  }

  nav .fa-solid{
  display: block;
} 

  nav ul{
    background: #ff004f;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }

  nav ul li{
    display: block;
    margin: 25px;

  }

  nav ul .fa-solid{
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }

  .firstSection .leftSection{
    width: 100%;
    font-size: 30px;
    margin-left: 30px;
  }
  .firstSection .rightSection img{
    display: none;
  }

  .about-col-2 h1{
    font-size: 40px;
  
  }
  .about-col-1, .about-col-2{
    flex-basis: 90%;
  }
  .about-col-1{
    margin-bottom: 30px;
  }

  .about-col-2{
    font-size: 14px;
  }

  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }

  .contact-left, .contact-right{
    flex-basis: 90%;
  }

  .copyright{
    font-size: 12px;
  }

  

}
